@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#ellipse {
    width: 100%;
    height: 100%;
    margin: 20px;
    shape-outside: ellipse(20% 50%);
    clip-path: ellipse(20% 50%);
    background: #805DB3;
}

.investor-hero {
    background-image: url("./components/images/hero-backImg.jpg");
    width: 100%;
    height: 300px;
}