@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#ellipse {
    margin-top: -120px;
}

.investor-hero {
    background-image: url("./components/images/hero-backImg.jpg");
    width: 100%;
    height: 430px;
}

textarea, input {
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}