@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.onboard1 {
  animation: fadeIn 1s ease-in-out forwards;
}

.custom-range-slider {
  -webkit-appearance: none;
  width: 600px;
  height: 10px;
  background-color: #805db3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  margin-top: -4px;
}

.custom-range-slider:hover {
  opacity: 1;
}

.custom-range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background-color: #805db3;
  cursor: pointer;
  border-radius: 50%;
}

.custom-range-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background-color: #3490dc;
  cursor: pointer;
  border-radius: 50%;
}

#ellipse {
  margin-top: 20px;
}

.investor-hero {
  background-image: url("./components/images/hero-backImg.jpg");
  width: 100%;
  height: 430px;
  display: none;
}

textarea,
input {
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.m-deskbg {
  display: block;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 300px) {
  .custom-range-slider {
    width: 345px;
  }
}

@media screen and (min-width: 600px) {
  .investor-hero {
    display: block;
  }

  #ellipse {
    margin-top: -120px;
  }

  .m-deskbg {
    display: none;
  }

  .custom-range-slider {
    width: 600px;
  }
}
