@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.onboard1 {
  animation: fadeIn 1s ease-in-out forwards;
}

#ellipse {
  margin-top: -120px;
}

.investor-hero {
  background-image: url("./components/images/hero-backImg.jpg");
  width: 100%;
  height: 430px;
}

textarea, input {
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
